html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.colWhite {
  color: white;
}

.textSan {
  font-family: "Source Sans Pro";
  font-size: 0.9em;
  margin-left: 0.2em;
  align-items: center;
}
.writeDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.arrow {
  animation: MoveUpDown 1s linear infinite;
  position: absolute;
  bottom: 0;
  display: flex;
  color: red;
  padding: 0px !important;
  /* align-self:auto; */
  /* margin-top: 0px !important; */
}
@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 7px;
  }
}
.arrow:hover {
  animation: unset
}
.textLeft {
  font-size: 1.5em;
  font-family: "Bungee";
}
nav {
  padding: 1.5em;
  display: flex;
  font-family: "Source Sans Pro";
  position: fixed;
  top: 0;
  left: 0;
  max-height: 76px;
  align-items: center;
  justify-content: space-between;
  background-color: #4056a1;
  width: 100%;
}
