/* css for Responsive Design */
@media only screen and (min-width: 860px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .resDes {
    flex: 1 1 50%;
    display: flex;
    justify-content: space-between;
  }
  .topHeader {
    flex: 1 1 50%;
    padding: 1em;
    max-height: 425px;
    max-width: 400px;
    position: sticky;
    top: 6em;
    left: 3em;
  }
  main {
    margin-top: 4.8em;
    margin-right: 2em;
    margin-left: 8em;
    flex: 1 1 50%;
  }
}
